<img class="flightAdvice-image" src="/assets/images/cycling-in-the-mountains.jpg" alt="image" />

<div class="container container--sm">

  <div class="flightAdvice-text">

    <h3 class="flightAdvice-text__heading">Don't know where to go yet?</h3>
    <p class="flightAdvice-text__text">We are always here to help you!</p>
    <p class="flightAdvice-text__text">Check our out <span><a class="flightAdvice-text__link" [routerLink]="['/helper']">trip helper</a></span></p>
    <button class="btn flightAdvice-text__btn">Learn more</button>

  </div>
</div>
