<div class="flight-advice-container">
    
    <div class="flight-advice-image-container">
        <img src="/assets/images/cycling-in-the-mountains.jpg" alt="image" />
    </div>

    <div class="flight-advice-text-block_position">

        <div class="flight-advice-text-block_theme">
        
            <div>
                <h3>Don't know where to go yet?</h3>
                <p>We are always here to help you!</p>
                <p>Check our out <span><a [routerLink]="['/helper']">trip helper</a></span></p>
            </div>
            <button class="btn flight-advice-btn">Learn more</button>
        
        </div>
    </div>

</div>
