<div class="flights-filter">
	<div class="flights-filter__results">
		<p class="flights-filter__results-header">Total results:</p>
		<span class="flights-filter__results-value">{{totalResults}}</span>
	</div>

	<div class="flights-filter__price">
		Price:
		<section class="range-slider">
			<input
				step="1" type="range"
				min="{{minRange}}"
				max="{{maxRange}}"
				[value]="minRangeValue"
				[(ngModel)]="minRangeValue"
			/>
			<input
				min="{{minRange}}"
				max="{{maxRange}}"
				step="1" type="range"
				[value]="maxRangeValue"
				[(ngModel)]="maxRangeValue"
			/>
		</section>
		<span *ngIf="minRangeValue < maxRangeValue" class="valueFrom value-left">${{minRangeValue}}</span>
		<span *ngIf="minRangeValue >= maxRangeValue" class="valueTo value-left">${{maxRangeValue}}</span>

		<span *ngIf="minRangeValue >= maxRangeValue" class="valueFrom value-right">${{minRangeValue}}</span>
		<span *ngIf="minRangeValue < maxRangeValue" class="valueTo value-right">${{maxRangeValue}}</span>
	</div>




	<div class="flights-filter__duration">
		Duration:
		<section class="range-slider">
			<input
				step="1" type="range"
				min="{{minDuration}}"
				max="{{maxDuration}}"
				[value]="minDurValue"
				[(ngModel)]="minDurValue"
			/>
			<input
				min="{{minDuration}}"
				max="{{maxDuration}}"
				step="1" type="range"
				[value]="maxDurValue"
				[(ngModel)]="maxDurValue"
			/>
		</section>
		<span *ngIf="minDurValue < maxDurValue" class="valueFrom">${{minDurValue}}h.</span>
		<span *ngIf="minDurValue >= maxDurValue" class="valueTo">${{maxDurValue}}h.</span>

		<span *ngIf="minDurValue >= maxDurValue" class="valueFrom">${{minDurValue}}h.</span>
		<span *ngIf="minDurValue < maxDurValue" class="valueTo">${{maxDurValue}}h.</span>
	</div>
	<div class="flights-filter__connections">
		<span class="flights-filter__connections-item">Connections:</span>
		<div class="checkbox">
			<input id="direct" type="checkbox">
			<label for="direct">Direct flights only</label>
		</div>
	</div>
	<div (click)="getVal()" class="flights-filter__button btn">Filter</div>
</div>
