<div class="flights-filter">
	<div class="flights-filter__results">
		Total results:
	</div>
	<div class="flights-filter__price">
		Price:
		<section class="range-slider">
				<!-- [(ngModel)]="maxPoint" -->
			<input 
				[value]="minPoint" 
				min="{{minRange}}" 
				max="{{maxRange}}" 
				step="1" type="range">
			<input 
			    value="80" 
				min="{{minRange}}" 
				max="{{maxRange}}" 
				step="1" type="range">
			<!-- <span class="rangeValues"></span> -->
		</section>
			<span class="valueFrom">{{minPoint}}</span>
			<hr/>
			<span class="valueTo">{{maxPoint}}</span>
	</div>
	<div class="flights-filter__duration">
		Duration:
	</div>
	<div class="flights-filter__connections">
		<span class="flights-filter__connections-item">Connections:</span>
		<div class="checkbox">
			<input id="direct" type="checkbox">
			<label for="direct">Direct flights only</label>
		</div>
	</div>
	<div class="flights-filter__button btn">Filter</div>
</div>