<div class="flights-filter">
	<div class="flights-filter__results">
		Total results:
	</div>
<!-- Comment below is test -->
<!-- <input type="range" step="1" min="0" max="100" 
		value="{{named}}" 
		[(ngModel)]="named">
	<div  [textContent]="named"></div> -->
	<div class="flights-filter__price">
		Price:
		<section class="range-slider">
			<input 
				step="1" type="range"
				min="{{minRange}}" 
				max="{{maxRange}}" 
				[value]="minValue"
				[ngModel]="minValue"
				(ngModelChange)="minValue <= maxValue ? (minValue=$event) : (maxValue=$event)"
			/>
				<!-- [(ngModel)]="minValue" -->
			<input 
				min="{{minRange}}" 
				max="{{maxRange}}" 
				step="1" type="range"
				[value]="maxValue" 
				[ngModel]="maxValue"
				(ngModelChange)="maxValue >= minValue ? (maxValue=$event) : (minValue=$event)"
			/>
				<!-- [(ngModel)]="maxValue" -->
		</section>
		<span class="valueFrom">{{minValue}}</span>
		<hr/>
		<span class="valueTo" [textContent]="maxValue"></span>
	</div>




	<div class="flights-filter__duration">
		Duration:
	</div>
	<div class="flights-filter__connections">
		<span class="flights-filter__connections-item">Connections:</span>
		<div class="checkbox">
			<input id="direct" type="checkbox">
			<label for="direct">Direct flights only</label>
		</div>
	</div>
	<div (click)="getVal()" class="flights-filter__button btn">Filter</div>
</div>