@import "vars";

$logo-height: 50px;
$max-logo-height: 100%;
:host {
  height: $logo-height;
  max-height: $max-logo-height;
  .app-logo {
    max-height: $max-logo-height;
    height: 100%;
    display: flex;
    align-items: center;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 0.85;
    }
    &__image {
      max-height: $max-logo-height;
    }
    &__text {
      margin-left: 0.2em;
      font-size: 1.2rem;
      color: $color-orange;
      font-weight: 600;
    }
  }
}
