@import "forms";
// @import "reset";
@import "buttons";

.form {
  color: $blue;
  background-color: rgba($color: $white, $alpha: 0.95);
  box-shadow: 0 0 5px rgba($color: #000, $alpha: 0.3);
  padding: 25px 20px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;

  &__inline {
    display: flex;
    flex-direction: row;

    &:not(:last-of-type) {
      margin-bottom: 15px;
    }

    input[type="radio"] {
      margin-left: 30px;
      margin-right: 2px;
    }
  }
}

.form-icon {
  position: relative;

  img {
    position: absolute;
    top: 10px;
    z-index: 1;
  }

  &--left {
    img {
      left: 20px;
    }
  }

  &--right {
    img {
      right: 0;
    }
  }

  .formcontrol {
    padding-left: 50px;
  }
}
