@import 'forms';
@import 'reset';
@import 'buttons';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/images/main.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 75vh;
}

.container {
  h1 {
    width: 50%;
    color: white;
    text-shadow: 0 0 20px rgba($color: #000, $alpha: 0.3);
    font-size: 45px;
    margin-bottom: 25px;
  }

  button {
    padding: 10px 50px;
  }
}
