@import "vars";
@import "mixins";
@import "injectable/card";
@import "injectable/flights_on_card";

$gap-h: 30px;
$gap-v: 15px;

:host {
  @extend %card;
  padding: $gap-v * 3/2 0;

  @include m-sm {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.flights {
  &__item {
    @extend %flights;
    padding: $gap-v $gap-h $gap-v/2;
  }
}

.book_result {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $gap-v $gap-h;
  border-top: 1px solid $color-blue;
  @include sm {
    margin-top: $gap-v;
    margin-left: $gap-v * 3/2;
    margin-right: $gap-v * 3/2;
  }
  @include m-sm {
    border-top: 0px solid;
    border-left: 1px solid $color-blue;
  }
  .price {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    color: $color-blue;
  }
}
