@import "mixins";

$gap: 50px;
.two-columns {
  @include m-md {
    display: flex;
  }

  .col {
    margin-top: $gap;
    margin-bottom: $gap;
    height: 100%;

    @include m-md {
      &:first-child {
        padding-right: $gap/5 * 3;
        width: 30%;
      }
      &:last-child {
        width: 70%;
      }
    }
    @include m-xlg {
      &:first-child {
        padding-right: $gap;
        width: 25%;
      }
      &:last-child {
        width: 75%;
      }
    }
  }
}
