<!-- для закомменченого в моках нет данных - когда подставим апи, надо будет поменять -->
<ng-container *ngFor="let flight of bookedFlight.flights">
  <div class="flight-card">

    <div class="totalInfo" *ngFor="let flight of bookedFlight.flights; index as i">
      <div class="airline">
        <img class="airline__logo" src="assets/images/{{flight.provider.logo}}" alt="{{flight.provider.name}} logo">
        <div class="airline__name">{{flight.provider.name}}</div>
      </div>
      <div class="date">
        <div class="date__time">
          {{flight.departure.time}} - {{flight.arrival.time}}
        </div>
        <div class="date__date">
          {{flight.date}}
        </div>
      </div>
      <div class="info">
        <div class="info__duration">5h. 30 min</div>
        <div class="info__places">
          {{flight.departure.city}} (KBP) ---> {{flight.arrival.city}} (KBP)
        </div>
      </div>
    </div>

    <div class="price">
      <!-- {{flight.price}} -->
      123$
    </div>

    <ul class="actualFlights">
      <div class="dep">
        <div class="city">City</div>
        <div class="code">(CTY)</div>
        <div class="time">12:45,</div>
        <div class="date">Sep 21</div>
      </div>
      <div class="arr">
        <div class="city">City</div>
        <div class="code">(CTY)</div>
        <div class="time">12:45,</div>
        <div class="date">Sep 21</div>
      </div>
    </ul>
  </div>
</ng-container>
