<!-- для закомменченого в моках нет данных - когда подставим апи, надо будет поменять -->
<ng-container *ngFor="let flight of bookedFlight.flights">
  <div class="flight-card">

    <div class="totalInfo">

      <div class="provider">
        <img class="provider__image" src="assets/images/{{flight.provider.logo}}" alt="{{flight.provider.name}}">
        {{flight.provider.name}}
      </div>
      <div class="flight-time">
        {{flight.departure.time}} - {{flight.arrival.time}}
        <br>
        {{flight.date.time}}
      </div>
      <div class="flight-info">
        <!-- {{flight.duration}} -->
        7h. 30 min
        <br>
        {{flight.departure.city}} - {{flight.arrival.city}}
      </div>
      <div class="price">
        <!-- {{flight.price}} -->
        123$
      </div>
    </div>

    <ul class="actualFlights">
      <div class="dep">
        <div class="city">City</div>
        <div class="code">(CTY)</div>
        <div class="time">12:45,</div>
        <div class="date">Sep 21</div>
      </div>
      <div class="arr">
        <div class="city">City</div>
        <div class="code">(CTY)</div>
        <div class="time">12:45,</div>
        <div class="date">Sep 21</div>
      </div>
    </ul>
  </div>
</ng-container>
