.btn {
  display: inline-block;
  border: none;
  color: $white;
  text-decoration: none;
  background-color: $blue;
  padding: 15px 25px;
  font-size: 14px;
  font-family: sans-serif;
  // text-transform: uppercase;
  font-weight: 600;
  // letter-spacing: 3px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .5s ease;
  cursor: pointer;
  &:hover {
    background-color: lighten($blue, 5%);
  };
  &--white {
    width: 120px;
    height: 40px;
    color: $blue;
    background-color: $white;
    padding: 0;
    border: 1px solid $blue;
    transition-property: background-color, color;
  }
  &--white:hover {
    color: $white;
    background-color: $blue;
  }
}
