body {
  background-color: #fff;
  line-height: 1.4;
  font-family: Arial, -apple-system, BlinkMacSystemFont, 'Oxygen', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $color-text;
  min-width: 320px;
  background: $color-light;
  overflow-y: scroll;
  // overflow-x: hidden;
}

a {
  text-decoration: none;
  color: currentColor;
  &:hover {
    text-decoration: none;
  }
}

.container {
  @include m-sm(){max-width: $screen-sm - 50px;};
  @include m-md(){max-width: $screen-md - 100px;};
  @include m-lg(){max-width: $screen-lg - 150px;};
  @include m-xlg(){max-width: $screen-lg};
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  &--lg {
    max-width: $screen-xlg + 500px;
  }
  &__title {
    // h2
    font-size: 30px;
  }
}
