// COLORS

$white: #fff;
$light: #f1f1f1;

$text: #19191d;

$blue: #040f64;
$orange: #fe8122;
$red: #92130e;

// COLORS

// SCREENS

$screen-xlg: 1600px;
$screen-lg: 1250px;
$screen-md: 950px;
$screen-sm: 600px;
$screen-xsm: 370px;

// SCREENS
