// COLORS

$color-white: #fff;
$color-light: #f2f2f2;

$color-text: #19191d;

$color-grey: #7e7e7e;
$color-blue: #283493;
$color-orange: #fe8122;
$color-red: #92130e;

// COLORS

// SCREENS

$screen-xlg: 1600px;
$screen-lg: 1259px;
$screen-md: 1023px;
$screen-sm: 767px;
$screen-xsm: 479px;

// SCREENS

// ZIS

$zi-bottom: 0;
$zi-level1: 1000;
$zi-level2: 3000;
$zi-level3: 5000;
$zi-level4: 7000;
$zi-top: 9999;

// ZIS
