@import "vars";
@import "mixins";

.special-offer {
  margin-top: 100px;
  margin-bottom: 35px;

  &__title {
    margin-bottom: 25px;
  }

  &__item {
    @include md {
      flex-flow: column wrap;
    }

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 90px;

    @include m-md {
      justify-content: center;
    }

    &:nth-child(odd) .special-offer__img {
      @include m-md {
        order: 1;
        margin-right: 0;
        margin-left: 30px;
      }
    }
    &:nth-child(odd) .offer__button {
      @include m-md {
        align-self: flex-end;
      }
    }
  }

  &__img {
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba($color-text, 0.5);
    width: 50%;
    height: 245px;

    @include md {
      width: 100%;
      margin: 0;
      margin-bottom: 30px;
    }
    @include m-md {
      margin-right: 30px;
    }
    @include m-xlg {
      width: 470px;
    }
    @include sm {
      height: auto;
      max-height: 300px;
      margin-bottom: 30px;
    }
  }

  .offer {
    display: flex;
    flex-direction: column;

    @include m-md() {
      max-width: 470px;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__description {
      font-size: 16px;
      line-height: 25px;
    }

    &__button {
      margin-top: 10px;
      align-self: flex-start;
    }
  }
}
