@import "vars";

$gap: 10px;
:host {
  position: absolute;
  left: 0;
  top: $gap * 5;
  z-index: $zi-level1;
}

.formattedAirports {
  border-radius: 3px;
  background-color: rgba($color-white, 0.95);
  box-shadow: 1px 2px $gap rgba($color-text, 0.3);
  padding: $gap $gap * 3;
  font-size: 1.2rem;
  &__item {
    margin-bottom: $gap * 2/3;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__city {
    margin-bottom: $gap/2;
    &:hover {
      text-decoration: underline;
    }
  }
}

.innerList {
  margin: 0;
  padding: 0;
  margin-left: $gap/2;
  font-size: 1.1rem;
  font-weight: normal;
  color: $color-text;

  &__item {
    padding: $gap/2;
    &:hover {
      text-decoration: underline;
    }
  }
}
