.btn {
  // letter-spacing: 3px;
  // text-transform: uppercase;
  min-width: 120px;
  min-height: 40px;
  display: inline-block;
  border: none;
  color: $color-white;
  text-decoration: none;
  background-color: $color-blue;
  padding: 10px 25px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  cursor: pointer;
  border: 1px solid $color-blue;
  transition: background-color 0.5s ease;
  &:hover {
    border-color: lighten($color-blue, 5%);
    background-color: lighten($color-blue, 5%);
  }
  &--white {
    color: $color-blue;
    background-color: $color-white;
    transition-property: background-color, color;
  }
  &--white:hover {
    color: $color-white;
    background-color: $color-blue;
  }
}
