body {
  background-color: #fff;
  line-height: 1.4;
  font-family: Arial, -apple-system, BlinkMacSystemFont, 'Oxygen', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $color-text;
  min-width: 320px;
  background: $color-light;
  overflow-y: scroll;
  // overflow-x: hidden;
}

a {
  text-decoration: none;
  color: currentColor;
  &:hover {
    text-decoration: none;
  }
}

$padding-h:30px;
.container {
  @include m-sm() {max-width: $screen-sm - 50px;};
  @include m-md() {max-width: $screen-md - 150px;};
  @include m-lg() {max-width: $screen-lg - 250px;};
  @include m-xlg() {max-width: $screen-lg - 100px};
  width: 100%;
  margin: 0 auto;
  padding: 0 $padding-h;
  &--lg {
    max-width: $screen-xlg + 500px;
  }
  &--sm {
    @include m-sm() {padding: 0 $padding-h*2;};
    @include m-md() {padding: 0 $padding-h*3;};
    @include m-xlg() {padding: 0 $padding-h*5;};
  }
  &__title {
    // h2
    font-size: 30px;
  }
}
