@import "vars";
@import "mixins";

.payment-section {
  margin: 100px auto;
  h2 {
    margin-bottom: 50px;
  }
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    height: 35px;
    // border-radius: 5px;
    font-size: 14px;
    width: 225px;
    margin-bottom: 15px;
  }

  input:focus {
    border-color: $color-blue;
  }

  .endDate-cv2-container {
    display: flex;
    justify-content: space-between;

    .endDate {
      width: 145px;
    }

    .cv2 {
      width: 65px;
    }
  }
}

.card_template{
  display: flex;
  .info-icon {
    width: 17px;
    height: 17px;
    margin-right: 70px;
    align-self: center;
    @include md {
      display: none;
    }
  }

  .card-image {
    @include md {
      display: none;
    }
    width: 225px;
    height: 145px;
    border: 1px solid $color-blue;
    border-radius: 5px;

    .blue-line {
      height: 32px;
      background-color: $color-blue;
      margin-top: 16px;
    }

    .card-image-text {
      margin-top: 24px;
      width: 145px;
      border: 1px solid $color-blue;
      border-left: none;
      display: flex;

      .card-image-cvv {
        text-align: right;
        padding-right: 10px;
        width: 115px;
        border-right: 1px solid $color-blue;
      }

      .card-image-stars {
        width: 30px;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}

#agreement {
  zoom: 1.6;
  margin-right: 5px;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;

  &-text {
    font-size: 12px;
    color: $color-grey;

    a {
      text-decoration: underline;
    }
  }
}
