@import 'vars';
@import 'mixins';
$white: #fff;

.destination {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  @include cover;
  box-shadow: 0px 12px 15px 0px #bdbdbd;
  transition: transform 0.3s, box-shadow 0.3s;
  &:hover {
    transform: translateY(-10px);
    box-shadow: 0px 22px 15px 3px #bdbdbd;
    .destination__title {
      min-width: 100%;
    }
  }
  &__title {
    align-self: flex-start;
    color: $white;
    font-size: 20px;
    min-width: 140px;
    background-color: $orange;
    border-radius: 2px;
    margin-bottom: -10px;
    padding: 5px 25px;
    position: relative;
    z-index: 1;
    transition: min-width 0.5s;
  }
  &__description {
    background-color: rgba($white, 0.9);
    padding: 20px 25px;
  }
}
