<div class="container container--lg">
  <header>

    <app-logo></app-logo>

    <nav class="nav_main">
      <ul>
        <li><a [routerLink]="['/flights']" routerLinkActive="router-link-active">Fligths</a></li>
        <li><a [routerLink]="['/trips']" routerLinkActive="router-link-active">My trips</a></li>
        <li><a [routerLink]="['/helper']" routerLinkActive="router-link-active">Trip helper</a></li>
      </ul>
    </nav>

    <div class="user_cabinet">
      <a [routerLink]="['/err']">
        <div class="user_image">
          AV
        </div>
      </a>
    </div>

  </header>
</div>
