<section class="ticket-details-section">
<div class="ticket-details-container">
    <h3>Ticket details & Booking</h3>
    <div>here will be a ticket to</div> 
    <div>here will be a ticket from</div>
</div>

<div class="passenger-form-container">

    <form action="#" method="post" [formGroup]="searchForm" class="passenger-form form">

        <h3>Passenger 1</h3>
        
        <div class="form-inputs-container">
            <div class="form-row">
                <label> Name <br> <input type="text" placeholder="Type something" class="formcontrol"><br></label>
                <label>Last Name: <br> <input type="text" placeholder="Type something" class="formcontrol"></label>
            </div>

            <div class="form-row form-row-with-gender">
                
                <label> Country <br> <input list="countries" name="country" placeholder="Type something" class="formcontrol">
                    <datalist id="countries">
                        <option value="Uganda">
                        <option value="Ukraine">
                        <option value="United Arab Emirates">
                    </datalist>    
                    <br>
                </label>

                <label> Gender <br> <input list="gender" name="sex" placeholder="f/e" class="formcontrol gender-input">
                    <datalist id="gender">
                        <option value="f">
                        <option value="m">
                    </datalist>    
                    <br>
                </label>

                <label>Date of Birth <br> <input type="date" name="bday" class="formcontrol birthday-input"><br></label>

            </div>

            <div class="form-row">
                <label> Passport ID <br> <input type="text" placeholder="Type something" class="formcontrol"><br></label>
                <label>Passport or ID expiry date <br> <input type="date" name="expirydate" class="formcontrol"></label>
            </div>

        </div>

        <div class="luggage-block">
            <h3>Luggage</h3>
            <p>Choose the luggage to want to travel with</p>
            <p>
                <input type="checkbox">
                <span>Bag up to 24k.($20 additional cost)</span>
            </p>
        </div>
        
        <div class="form-footer-container">
            <h3>Total:</h3>
            <div>
                <div>$176</div>
                <button class="btn">Book</button>
            </div>
        </div>
    
    </form>

</div>

</section>
