@import "vars";
@import "injectable/hero";

$gap: 40px;
.hero {
  @extend %hero;
  background-image: url("/assets/images/main.jpg");
  min-height: 40vh;
  padding-top: 130px;
  padding-bottom: 60px;

  margin-bottom: $gap;
}

.trip-list-section {
  margin: $gap 0;
  &__heading {
    color: $color-blue;
    padding: 0 0 10px;
  }
  &__list-item {
    margin-top: $gap/3 * 2;
  }
}

// .past-trips-list {
