@import "vars";
$gap: 30px;

:host {
  display: block;
  padding: $gap;
  border-radius: $gap/2;
  background: $color-white;
  box-shadow: 2px 4px 20px rgba($color-text, 0.2);
}

.btn-group {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  .btn {
    margin-left: $gap/2;
  }
}

span {
  color: $color-grey;
}
