.price-sort {
	display: flex;
	margin-right: 30px;
	cursor: pointer;

	// &__img {}
	&__text {
		margin-left: 10px;
	}
}

.flights-sort {
	width: 100%;
	margin: 50px 0;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
