<form class="form" [formGroup]="searchForm">
  <div class="form__inline">
    <label class="radio">
      <input type="radio" formControlName="tripType" value="return" />
      <span>Return</span>
    </label>
    <label class="radio">
      <input type="radio" formControlName="tripType" value="oneWay" />
      <span>One way</span>
    </label>
    <label class="radio">
      <input type="radio" formControlName="tripType" value="multiTrip" />
      <span>Multi-trip</span>
    </label>
  </div>
  <div class="form__inline">
    <label class="form-icon form-icon--left">
      <img src="assets/ui/plane_to.svg" alt="departure" />
      <input type="text" class="formcontrol formcontrol--left" placeholder="Kyiv (KBP)" formControlName="departure" />
    </label>
    <label class="form-icon form-icon--right">
      <img src="assets/ui/backnforce.svg" alt="" />
    </label>
    <label class="form-icon form-icon--left">
      <img src="assets/ui/plane_back.svg" alt="destination" />
      <input
        type="text"
        class="formcontrol formcontrol--right"
        placeholder="Paris (CDG)"
        formControlName="destination"
      />
    </label>
    <label class="form-icon form-icon--left">
      <img src="assets/ui/calendar.svg" alt="dates" />
      <input type="date" class="formcontrol" formControlName="dates" />
    </label>
    <label class="form-icon form-icon--left">
      <img src="assets/ui/calendar.svg" alt="dates" />
      <input type="date" class="formcontrol" formControlName="dates" />
    </label>
    <label class="form-icon form-icon--left">
      <img src="assets/ui/profile.svg" alt="passengers" />
      <input type="number" class="formcontrol" placeholder="1 passenger" formControlName="passengers" />
    </label>
    <button class="btn" (click)="onSubmit($event)">Search</button>
  </div>
</form>
