<form class="form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="form__inline">
    <label>
      <input type="radio" formControlName="tripType" value="return" />
      Return
    </label>
    <label>
      <input type="radio" formControlName="tripType" value="oneWay" />
      One way
    </label>
    <label>
      <input type="radio" formControlName="tripType" value="multiTrip" />
      Multi-trip
    </label>
  </div>
  <div class="form__inline">
    <label class="form-icon form-icon--left">
      <img src="assets/ui/plane_to.svg" alt="departure" />
      <input
        type="text"
        class="formcontrol formcontrol--left"
        (input)="onFlightInputChange($event)"
        placeholder="Kyiv (KBP)"
        formControlName="departure"
      />
      <app-airports-dropdown
        *ngIf="searchForm.value.departure.length >= 3"
        [airports]="departureAirports"
      ></app-airports-dropdown>
    </label>
    <label class="form-icon form-icon--right">
      <img src="assets/ui/backnforce.svg" alt="" />
    </label>
    <label class="form-icon form-icon--left">
      <img src="assets/ui/plane_back.svg" alt="destination" />
      <input
        type="text"
        class="formcontrol formcontrol--right"
        (input)="onFlightInputChange($event)"
        placeholder="Paris (CDG)"
        formControlName="destination"
      />
      <app-airports-dropdown
        *ngIf="searchForm.value.destination.length >= 3"
        [airports]="destinationAirports"
      ></app-airports-dropdown>
    </label>
    <label class="form-icon form-icon--left">
      <img src="assets/ui/calendar.svg" alt="dates" />
      <input type="date" class="formcontrol" formControlName="dates" />
    </label>
    <label class="form-icon form-icon--left">
      <img src="assets/ui/calendar.svg" alt="dates" />
      <input type="date" class="formcontrol" formControlName="dates" />
    </label>
    <label class="form-icon form-icon--left">
      <img src="assets/ui/profile.svg" alt="passengers" />
      <input type="number" class="formcontrol" placeholder="1 passenger" formControlName="passengers" />
    </label>
    <button class="btn">Search</button>
  </div>
</form>
